@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-hidden text-white;
  }
}

/* @layer components {
  .bg-radial {
    background-image: radial-gradient(
      transparent 0% 85%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
} */

@layer utilities {
  .clip-path-hidden {
    clip-path: circle(0px at 100% 100%);
  }
  .clip-path-visible {
    clip-path: circle(1000px at 100% 100%);
  }
}
